ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/*main container, largest box*/
body {
	border-radius: 5px;
	font-family: arial;
	padding: 0px;
	height: 500px;
	width: 1233px;
	border: 2px solid lightgray;
	overflow: hidden;
	position: relative;
}
/*The unordered list containing the images of the cats*/
.octodex {
	margin: 15px;
	height: 470px;
}
/*The images of the cats*/
.octocat img {
	border-radius: 5px;
	border-bottom: none;
	border: 1px solid lightgray;
	height: 375px;
}
li.octocat {
	float: left;
	border-bottom: 1px solid lightgray;
	margin: 10px;
}
div.image-footer {
	position: relative;
	height: 50px;
}
.image-caption {
	position: absolute;
	right: 50px;
	top:20px;
}
.authors {
	float: right;
}
.authors img {
	float: right;
	border: none;
	margin: 5px;
	height: 30px;
}
.image-number {
	color: lightgray;
	float: left;
	margin-left: 3%;
	margin-top:15px;
}
.image-caption a {
	/*float: right;*/
	text-decoration: none;
	color: black;
	/*font-weight: bold;*/
}
.image-caption {
	font-size: small;
	font-weight: bold;
	line-height: 250%;
	color: gray;
	overflow: hidden;
	position: absolute;
	top:0;
	right: 0;
}





