ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
/*main container, largest box*/
body {
	font-family: arial;
	padding: 0px;
	height: 500px;
	width: 1233px;
	border: 4px solid lightgray;
	overflow: hidden;
	position: relative;
}
/*The unordered list containing the images of the cats*/
.octodex {
	margin: 15px;
	height: 470px;
}
/*The images of the cats*/
.octocat img {
	margin:10px;
	border: 3px solid lightgray
;
	height: 375px;
	/*float: left;*/
}
li.octocat {
	float: left;
}
.image-footer {
	position: relative;
}
.image-caption {
	position: absolute;
	right: 50px;
	top:20px;
}
.authors img {
	border: none;
	margin: 10px;
	height: 40px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.image-number {
	color: lightgray;
	float: left;
	z-index: 1
}
.image-caption a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.image-caption {
	color: gray;
	overflow: hidden;
	/*float: right;*/
}


